# Ignore Gradle and build related files
.gradle/
.idea/

# Ignore common module build artifacts and run directory
common/.gradle/
common/build/
common/run/
common/common.iml

# Ignore fabric module build artifacts and run directory
fabric/.gradle/
fabric/build/
fabric/run/
fabric/fabric.iml

# Ignore neoforge module build artifacts and run directory
neoforge/.gradle/
neoforge/build/
neoforge/run/
neoforge/neoforge.iml
